{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th><i class="fa fa-envelope mr-2"></i>Email</th>
                <td>{{ user.email }}</td>
            </tr><tr>
                <th><i class="fa fa-user mr-2"></i>Prénom Nom</th>
                <td>{{ user.firstname }}  {{ user.lastname }}</td>

            </tr>
            <tr>
                <th><i class="fa fa-phone mr-2"></i>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-photo mr-2"></i>Photo</th>
                <td><img class="border rounded img-thumbnail" style="width: 190px" src="{{ asset('uploads/' ~ app.user.picture) }}" alt="{{ user.lastname }}"></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
